name: CI/CD Podman Python App with GHCR

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Podman image
        run: |
          IMAGE=ghcr.io/vacdotcs/python-app:${{ github.sha }}
          docker build -t $IMAGE .
          docker push $IMAGE

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            set -e
            IMAGE=ghcr.io/vacdotcs/python-app:${{ github.sha }}

            echo "===> Логинимся в GHCR на сервере"
            podman login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GHCR_TOKEN }}

            echo "===> Перезапускаем контейнер"
            podman rm -f python-app || true
            podman run -d --name python-app --network host -p 8064:8064 $IMAGE
  test:
    runs-on: self-hosted
    needs: deploy
    steps:
      - name: Runs test via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            set -e
            podman exec -it python-app python -m pytest -v tests
